@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home Page";
}


@{if (User.IsInRole("Project Manager"))
    {
        <button><a href="@Url.Action("ManageProjects", "User", new { userId = User.Identity.GetUserId() })">Projects</a></button>
    }
    if (User.IsInRole("Admin"))
    {
        <button><a href="@Url.Action("ManageProjects", "User", new { userId = User.Identity.GetUserId() })">Projects</a></button>
    }
    if (User.IsInRole("Submitter"))
    {
        <button><a href="@Url.Action("ManageTickets", "User", new { userId = User.Identity.GetUserId() })">Tickets</a></button>
    }
}