@{ 
    Layout = null;
}

<head>
    <link href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/dist/css/AlterAccess.css" rel="stylesheet" />
</head>
<div id="wrapper">
    <img src="~/Assets/Imgs/BugTrackerLandingPage.jpg"/>
</div>